<section
    class="grid grid-cols-[auto_1fr] border border-solid border-border_black rounded p-2 desktop:py-3 desktop:px-4 max-w-xl">
  <div class="flex flex-col items-center flex-none">
    <h2 class="order-2 font-bold text-text_black text-2xl desktop:text-4xl">{{ score.username }}</h2>
    <div
        class="order-1 flex items-center justify-center w-20 desktop:w-28 h-20 desktop:h-28 border border-solid border-border_black rounded-full text-text_black text-2xl desktop:text-4xl">
      {{ score.sum }}
    </div>
  </div>
  <dl class="grid grid-cols-[repeat(auto-fit,_minmax(80px,_1fr))] desktop:grid-cols-[repeat(auto-fit,_minmax(96px,_1fr))] gap-2 desktop:gap-4 ml-2 desktop:ml-4">
    <seven-wonders-scorer-score-item [score]="score.civilScore"
                                     scoreType="civilization"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.militaryScore"
                                     scoreType="military"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.scienceScore.sum"
                                     scoreType="science"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.commercialScore"
                                     scoreType="commercial"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.guildScore" scoreType="guild"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.cityScore" scoreType="city"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.leaderScore" scoreType="leader"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.coinScore" scoreType="coin"></seven-wonders-scorer-score-item>
    <seven-wonders-scorer-score-item [score]="score.wonderScore" scoreType="wonder"></seven-wonders-scorer-score-item>
  </dl>
  <button (click)="openModal()">Open Modal_{{ showModal }}_{{ username }}</button>
</section>